<!-- Formulario -->
            <h1 style="color:blue;">Chat</h1>
            <br>
            <form>
                <div class="form-group">
                    <label for="email"><b>Email</b></label>
                    <input id="email" class="form-control" type="email" name="email" onkeyup="habilitarButton()">
                </div>
                <div class="form-group">
                    <label for="nombre"><b>Nombre</b></label>
                    <input id="nombre" class="form-control" type="text" name="Nombre" onchange="guardar('nombre')">
                </div>
                <div class="form-group">
                    <label for="apellido"><b>Apellido</b></label>
                    <input id="apellido" class="form-control" type="text" name="apellido" onchange="guardar('apellido')">
                </div>
                <div class="form-group">
                    <label for="edad"><b>Edad</b></label>
                    <input id="edad" class="form-control" type="text" name="edad" onchange="guardar('edad')">
                </div>
                <div class="form-group">
                    <label for="alias"><b>Alias</b></label>
                    <input id="alias" class="form-control" type="text" name="alias" onchange="guardar('alias')">
                </div>
                <div class="form-group">
                    <label for="avatar"><b>Avatar</b></label>
                    <input id="avatar" class="form-control" type="text" name="avatar" onchange="guardar('avatar')">
                </div>
            </form>
            <!-- Final Formulario -->