<!-- Formulario -->
<h1 style="color:blue;">Login</h1>
<br>
<form action="/loginSession" method="get">
    <div class="form-group">
        <label for="username"><i>Ingrese su nombre</i></label>
        <input id="username" class="form-control" type="text" name="username">
    </div>
    <button class="btn btn-success mt-3 mb-5"  type="submit">Login</button>
</form>
<!-- Final Formulario -->