<!-- Formulario -->
            <form action="/mensajes" method="post">
                <div class="form-group">
                    <label for="message"><b>Mensaje</b></label>
                    <input id="message" class="form-control" type="text" name="mensaje">
                </div>
                <input type="hidden" id="emailMensaje" value="" name="email">
                <input type="hidden" id="nombreMensaje" value="" name="nombre">
                <input type="hidden" id="apellidoMensaje" value="" name="apellido">
                <input type="hidden" id="edadMensaje" value="" name="edad">
                <input type="hidden" id="aliasMensaje" value="" name="alias">
                <input type="hidden" id="avatarMensaje" value="" name="avatar">
                <button class="btn btn-success mt-3 mb-5" disabled id="buttonMensaje" type="submit">Enviar</button>
            </form>
            <!-- Final Formulario -->