<div class="container">
   
    <div class="row">
        <div id="historial">
            {{!-- {{#each MENSAJES}}
            <div class="col-12 cont">
                <b class="colorBlue">{{this.author.email}}</b>
                <p class="colorBrown">{{this.timestamp}}:</p> 
                <span class="textMessage">{{this.text}}</span>
                <img src={{this.author.avatar}} width="30">
            </div>
            <br><br>
            {{/each}} --}}
        </div>  
    </div>
    
</div>